
DCK_USER='tledb'

DCK_TARGET_DIR='/opt/services/tledb'
DCK_WORK_DIR="$DCK_TARGET_DIR"
DCK_ENV="$DCK_TARGET_DIR/.tledb"
DCK_CONFIG="$DCK_TARGET_DIR/config"
DCK_SCRIPTS="$DCK_TARGET_DIR/scripts"
DCK_LOGS="$DCK_TARGET_DIR/logs"
DCK_SECRETS="$DCK_TARGET_DIR/.secrets"

DCK_REQUIREMENTS="$DCK_CONFIG/requirements.txt"

DCK_NGINX_CONFD='/etc/nginx/conf.d'
DCK_NGINX_STATIC="$DCK_TARGET_DIR/static"
DCK_NGINX_ACCESS_LOG="$DCK_LOGS/nginx-access.log"
DCK_NGINX_ERROR_LOG="$DCK_LOGS/nginx-error.log"

DCK_GU_WD="$DCK_WORK_DIR/tledb"
DCK_BU_BIN="$DCK_ENV/bin/gunicorn"
DCK_GU_COM="gunicorn --bind $GU_HOST:$GU_PORT $GU_WSGI_MOD:application"

DCK_CELERY="$DCK_ENV/bin/celery"
DCK_CELERY_WD="$DCK_WORK_DIR/tledb"

dck_supervisord_sh="scripts/docker/supervisor/dck-setup.sh"
dck_launcher_sh="$DCK_SCRIPTS/docker/launcher.sh"
