
USER="$( whoami )"
LOGL='debug'

CONFIG_DIR="$(pwd)/config"
STATIC_DIR="$(pwd)/static"
SCRIPTS_DIR="$(pwd)/scripts"
PACKAGES_FILE="$CONFIG_DIR/debian.packages"
REQUIREMENTS_FILE="$CONFIG_DIR/requirements.txt"

SUPERVISOR_CONF='/etc/supervisor/supervisord.conf'
SUPERVISOR_CFG_DIR='/etc/supervisor/conf.d'

DOCKER_SERVER_NAME='tledb_server'
DOCKER_APP_NAME='tledb'
DOCKER_FILE_TLEDB="$CONFIG_DIR/dockerfile.tledb"
DOCKER_FILE_NGINX="$CONFIG_DIR/dockerfile.nginx"
DOCKER_FILE_TLEDB_REL="config/dockerfile.tledb"
DOCKER_FILE_NGINX_REL="config/dockerfile.nginx"
DOCKER_COMPOSE="$CONFIG_DIR/docker-compose.yml"
DOCKER_NGINX_CONFD="$CONFIG_DIR/nginx-conf.d"
DOCKER_NGINX_CONF="$DOCKER_NGINX_CONFD/tledb.conf"
DOCKER_NGINX_CFG="$CONFIG_DIR/nginx.conf"

VENV_DIR='.tledb'
VENV_ACTIVATE="$VENV_DIR/bin/activate"

SECRETS="$(pwd)/.secrets"
MYSQL_SECRETS="$SECRETS/mysql.json"
DOCKER_MYSQL_SECRETS="$SECRETS/mysql.env"
DOCKER_MYSQL_SECRETS_REL="../.secrets/mysql.env"
MAIL_SECRETS="$SECRETS/mail.json"

DJANGO_APP_NAME='tledb'
DJANGO_SECRETS="$SECRETS/django.json"
DJANGO_CELERY_CONF="$SECRETS/celery.json"

CELERY_LOGS="$(pwd)/logs"
CELERY_ENV="$(pwd)/$VENV_DIR"
CELERY_ENV_ACTIVATE="$CELERY_ENV/bin/activate"
CELERY_BIN="$CELERY_ENV/bin/celery"
CELERY_WD="$(pwd)/tledb"
CELERY_SCH="django_celery_beat.schedulers:DatabaseScheduler"
CELERY_BEAT_APP='tledb-beat'
CELERY_BEAT_CFG="$SUPERVISOR_CFG_DIR/$CELERY_BEAT_APP.conf"
CELERY_BEAT_LOG="$CELERY_LOGS/$CELERY_BEAT_APP.log"
CELERY_WORKER_APP='tledb-worker'
CELERY_WORKER_CFG="$SUPERVISOR_CFG_DIR/$CELERY_WORKER_APP.conf"
CELERY_WORKER_LOG="$CELERY_LOGS/$CELERY_WORKER_APP.log"

GU_APP='tledb-gunicorn'
GU_LOGS="$(pwd)/logs"
GU_CONF="$SUPERVISOR_CFG_DIR/$GU_APP.conf"
GU_LOG="$GU_LOGS/$GU_APP.log"
GU_ENV_ACTIVATE="$CELERY_ENV/bin/activate"
GU_BIN="$CELERY_ENV/bin/gunicorn"
GU_WD="$(pwd)/tledb"
GU_WSGI_MOD='tledb.wsgi'

GU_HOST='0.0.0.0'
GU_PORT='19001'
GU_COMMAND="$GU_BIN --bind $GU_HOST:$GU_PORT $GU_WSGI_MOD:application"

NGINX_CONF='/etc/nginx/sites-available/tledb'
NGINX_CONF_LNK='/etc/nginx/sites-enabled/tledb'
NGINX_DEFAULT_LNK='/etc/nginx/sites-enabled/default'
NGINX_STATIC="$(pwd)/run"
# https settings
NGINX_HOST=""
NGINX_PORT=443
NGINX_REMOTE=""
NGINX_DOMAIN=""
NGINX_SSL_CERT=""
NGINX_SSL_KEY=""
# http settings
NGINX_SERVERNAME='tledb.co.jp'
NGINX_ACCESS_LOG="$(pwd)/logs/nginx-access.log"
NGINX_ERROR_LOG="$(pwd)/logs/nginx-error.log"

sql_file='/tmp/sqlcommands'

database_sh='scripts/mysql/setup.sh'
celery_sh='scripts/supervisor/celery.sh'
gunicorn_sh='scripts/supervisor/gunicorn.sh'
nginx_sh='scripts/nginx/setup.sh'
django_sh='scripts/django/setup.sh'
django_skg_file='scripts/django/gen_skg_file.sh'
django_skg='scripts/django/secretkey.py'
django_db_sh='scripts/mysql/django-db.sh'
gen_mail_file='scripts/docker/gen_mail_file.sh'
gen_celery_conf='scripts/django/gen_celery_conf.sh'

dockerfile_sh='scripts/docker/build-tledb.sh'
docker_compose_sh='scripts/docker/compose.sh'
docker_nginx_sh='scripts/docker/nginx.sh'
docker_mysql_sh='scripts/docker/mysql.sh'
docker_mail_sh='scripts/docker/mail.sh'
docker_supervisor_sh='scripts/docker/supervisor.sh'
docker_django_sh='scripts/docker/django.sh'
