
USER='rtubio'
LOGL='debug'

CONFIG_DIR='config'
SUPERVISOR_CFG_DIR='/etc/supervisor/conf.d'
PACKAGES_FILE="$CONFIG_DIR/debian.packages"
REQUIREMENTS_FILE="$CONFIG_DIR/requirements.txt"

VENV_DIR='.tledb'
VENV_ACTIVATE="$VENV_DIR/bin/activate"

SECRETS="$(pwd)/.secrets"
MYSQL_SECRETS="$SECRETS/mysql.json"

DJANGO_APP_NAME='tledb'
DJANGO_SECRETS="$SECRETS/django.json"

CELERY_LOGS="$(pwd)/logs"
CELERY_ENV="$(pwd)/$VENV_DIR"
CELERY_ENV_ACTIVATE="$CELERY_ENV/bin/activate"
CELERY_BIN="$CELERY_ENV/bin/celery"
CELERY_WD="$(pwd)/tledb"
CELERY_SCH="django_celery_beat.schedulers:DatabaseScheduler"
CELERY_BEAT_APP='tledb-beat'
CELERY_BEAT_CFG="$SUPERVISOR_CFG_DIR/$CELERY_BEAT_APP.conf"
CELERY_BEAT_LOG="$CELERY_LOGS/$CELERY_BEAT_APP.log"
CELERY_WORKER_APP='tledb-worker'
CELERY_WORKER_CFG="$SUPERVISOR_CFG_DIR/$CELERY_WORKER_APP.conf"
CELERY_WORKER_LOG="$CELERY_LOGS/$CELERY_WORKER_APP.log"

sql_file='/tmp/sqlcommands'

database_sh='scripts/mysql/setup.sh'
supervisor_sh='scripts/supervisor/celery.sh'
django_sh='scripts/django/setup.sh'
django_skg='scripts/django/secretkey.py'
