{% extends "base.html" %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}


{% block content %}

<h1 class="topped bottomed">Latest TLE Objects</h1>

{% if object_list %}
  {% render_table table %}
{% else %}
  <div class="row centered">
    <div class="col-4"></div>
    <div class="col-4">
      {% bootstrap_alert "Database not populated" alert_type='warning' %}
      {% bootstrap_alert "Add a periodic scrapping task" alert_type='info' %}
    </div>
  </div>
{% endif %}

{% endblock %}
